<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<p>HERE</p>
<%@profile.id%>

<% @profiles.each do |profile| %>
  <%if profile.user_id == current_user.id %>
    <p>
      <strong>First name:</strong>
      <%= profile.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= profile.last_name %>
    </p>


    <p>
      <strong>Gender:</strong>
      <%= profile.gender %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= profile.address %>
    </p>

    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <%end %>
  </tr>
    <% end %>
  </tbody>
</table>

<br>

