<p id="notice"><%= notice %></p>

<h1>Profile</h1>

<% @profiles.each do |profile| %>
  <p><%profile.id%></p>
  <%if profile.user_id == current_user.id %>
    <p>
      <strong>First name:</strong>
      <%= profile.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= profile.last_name %>
    </p>


    <p>
      <strong>About:</strong>
      <%= profile.about %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= profile.address %>
    </p>

    <p><%= link_to 'Edit', edit_profile_path(profile) %></p>

  <%end %>
<% end %>
  <%= link_to 'New Profile', new_profile_path %>



