<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>This show the personal profile of the current user</h1>
<h2>Friends</h2>

<div class="">
  <% if @user %>
    <% @user.friendships&.each do |friendship| %>
    <div class="card text-white bg-dark mb-3 mx-auto col-md-8 mx-auto mx w-50">
      <div class="card-header">
        <%=h friendship.friend.email %>
      </div>
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "remove", friendship, :method => :delete %></h5>
      </div>
    </div>
  <% end %>
  <% end %>
  <div class ="d-flex justify-content-center">
  <%= link_to "Next Page", users_profile_path(page: @page +1) %>
  |
  <%= link_to "Previous Page", users_profile_path(page: @page -1) %>
  </div>
</div>

<p><%= link_to "Find New Friends", users_path %></p>