<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<% @posts.each do |post| %>
<div class="">
    <div class="card text-white bg-dark mb-3 mx-auto col-md-8 mx-auto mx w-50">
    <div class="card-header"> <%= post.user_id %></div>
      <div class="card-body">
        <h5 class="card-title"> <%= post.title %></h5>
        <p class="card-text">post.text</p>
        <p><%= link_to 'Show', post %></p>
        <% if current_user.id == post.user_id %>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
          <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%end %>
      </div>
<% end %>
</div>


<%= link_to 'New Post', new_post_path %>


#path or update